
	h2 {
		font-size:14pt;
		text-align:center;
	}
	 #section {
		
		margin-left:285px;
		vertical-align:top;
		padding:15px;

		width: 420px;
		display: inline-block;
		text-align:center;
	}